.carousel-container {
    position: relative;
    /* Makes the container the reference point for absolute positioning */
    display: inline-block;
    /* Ensures the container wraps the image and buttons */
}

.carousel-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel-button.prev {
    left: 0px;
}

.carousel-button.next {
    right: 0px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensures dots are centered vertically */
    gap: 5px;
    margin-top: 10px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #a4a3a8;
    transform: scale(0.4);
    /* Slightly larger effect for active */
    padding: 6px;
}